<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" />
	<link th:href="@{/css/common.css}" rel="stylesheet" type="text/css" />
	<link th:href="@{/css/profile.css}" rel="stylesheet" type="text/css" />
	<link th:href="@{/css/contents.css}" rel="stylesheet" type="text/css" />
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>CONTENTS</title>
</head>
<body>
	<div th:replace="header :: header"></div>
	<section class="profile_container">
		<div class="profile_top">
			<h1>CONTENTS</h1>
		</div>
		<div class="profile_wrapper contents_wrapper">
			<div th:if="${data} != null">
       			<p>ID:[[${data.contents_id}]] </p>
       	<!-- Title:-->
        		<h2>[[${data.title}]]</h2>
        		<p><img th:src="'data:image/png;base64,' + ${image64_01}" alt="Image" style="width: 600px; height: auto;"></p>
        <!-- Description1:-->
        		<p class="desc">[[${data.description}]]</p>
        		<p><img th:src="'data:image/png;base64,' + ${image64_02}" alt="Image" style="width: 600px; height: auto;"></p>
        <!-- Description2:-->
        		<p class="desc">[[${data.description2}]]</p>
        <!-- 他のデータフィールドも同様に表示 -->
   			</div>
    		<div th:if="${data} == null">
        		<p>No data found</p>
    		</div>
	
<!--	コンテンツの情報取得ここまで-->
			<div th:if="${data} != null"></div>
			<form th:action="@{/contents(id=${data.contents_id})}" method="post">

			<div class="mutter_con">
<!--				<p><a th:href="@{/contents}">更新</a></p>-->
				<div th:each="mutters : ${mutter}" th:object=${mutter}>
					<p>[[${mutters.name}]]：[[${mutters.text}]]</p>
				</div>
				<input type="text" name="text" required class="mutter_text">
				<input type="submit" value="つぶやく" class="mutter_chat">
			</div>
			</form>
		</div>
		<div class="buttonwrap">
			<div class="back_before"><a th:href="@{/login}"><input type="button" value="戻る"></a></div>
		</div>
	</section>
</body>
</html>